mule-salary-management/src/main/app/api-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	version="EE-3.8.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		">

    <flow name="paychechs-flow">
        <db:select config-ref="Salary_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[
            	SELECT 
            	pay.paycheck_id, 
            	pay.company_id, 
            	pay.year, 
            	pay.month, 
            	pay.start_date, 
            	pay.end_date, 
            	pay.number_of_hours, 
            	pay.gross_amount, 
            	pay.net_pay, 
            	pay.reimbursement, 
            	rate.hourly_rate, 
            	rate.expected_gross, 
            	rate.expected_net_pay
            	FROM paychecks AS pay
            	LEFT JOIN rates AS rate ON pay.company_id = rate.company_id
            		AND rate.start_date <= pay.start_date 
            		AND (rate.end_date IS NULL OR rate.end_date > pay.end_date)
            	]]>
            </db:parameterized-query>
        </db:select>
       	<dw:transform-message doc:name="Transform Message">
            <dw:input-payload mimeType="application/java" />
            <dw:set-payload resource="dw_mappings/paychecks_export.dwl" />
        </dw:transform-message>
    </flow>
    
    <flow name="paychechs-year-flow">
        <db:select config-ref="Salary_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[
            	SELECT 
            	pay.paycheck_id, 
            	pay.company_id, 
            	pay.year, 
            	pay.month, 
            	pay.start_date, 
            	pay.end_date, 
            	pay.number_of_hours, 
            	pay.gross_amount, 
            	pay.net_pay, 
            	pay.reimbursement, 
            	rate.hourly_rate, 
            	rate.expected_gross, 
            	rate.expected_net_pay
            	FROM paychecks AS pay
            	LEFT JOIN rates AS rate ON pay.company_id = rate.company_id
            		AND rate.start_date <= pay.start_date 
            		AND (rate.end_date IS NULL OR rate.end_date > pay.end_date)
            	WHERE pay.year = :year
            	]]>
            </db:parameterized-query>
            <db:in-param name="year" value="#[flowVars.year]" />
        </db:select>
       	<dw:transform-message doc:name="Transform Message">
            <dw:input-payload mimeType="application/java" />
            <dw:set-payload resource="dw_mappings/paychecks_export.dwl" />
        </dw:transform-message>
    </flow>
    
    <flow name="paychechs-year-month-flow">
        <db:select config-ref="Salary_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[
            	SELECT 
            	pay.paycheck_id, 
            	pay.company_id, 
            	pay.year, 
            	pay.month, 
            	pay.start_date, 
            	pay.end_date, 
            	pay.number_of_hours, 
            	pay.gross_amount, 
            	pay.net_pay, 
            	pay.reimbursement, 
            	rate.hourly_rate, 
            	rate.expected_gross, 
            	rate.expected_net_pay
            	FROM paychecks AS pay
            	LEFT JOIN rates AS rate ON pay.company_id = rate.company_id
            		AND rate.start_date <= pay.start_date 
            		AND (rate.end_date IS NULL OR rate.end_date > pay.end_date)
            	WHERE pay.year = :year AND pay.month = :month
            	]]>
            </db:parameterized-query>
            <db:in-param name="year" value="#[flowVars.year]" />
            <db:in-param name="month" value="#[flowVars.month]" />
        </db:select>
       	<dw:transform-message doc:name="Transform Message">
            <dw:input-payload mimeType="application/java" />
            <dw:set-payload resource="dw_mappings/paychecks_export.dwl" />
        </dw:transform-message>
    </flow>

</mule>
