mule-salary-management/src/main/app/mule-salary-management.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
    
    <flow name="mule-salary-management-import-flow" processingStrategy="synchronous">
        <file:inbound-endpoint path="${paycheck.file.input}" mimeType="application/json" connector-ref="File" comparator="com.d2l2c.mule.salary.management.comparator.FilenameComparator" responseTimeout="10000" doc:name="File">
        	<file:filename-wildcard-filter pattern="*.pdf" />
        </file:inbound-endpoint>
        <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
        
        <custom-transformer class="com.d2l2c.mule.salary.management.transformer.ExtractFileContentTransformer" doc:name="Java"/>
        <custom-transformer class="com.d2l2c.mule.salary.management.transformer.ContentToPaycheckTransformer" doc:name="Java"/>
        
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="mule-salary-management-insert-flow" doc:name="Flow Reference"/>
    </flow>
    
    <sub-flow name="mule-salary-management-insert-flow">
        <logger message="Inserting into Database..." level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[
            	INSERT INTO paycheck (
	            	company_name,
	            	start_date, 
	            	end_date, 
	            	number_of_hours, 
	            	hourly_rate, 
	            	gross_amout, 
	            	net_pay, 
	            	reimbursement) 
	            VALUES (
            		:companyName,
            		:startDate,
            		:endDate, 
					:numberOfHours, 
					:hourlyRate, 
					:grossAmount, 
					:netPay, 
					:reimbursement)
				]]>
			</db:parameterized-query>
			<db:in-param name="companyName" value="#[payload.companyName]" />
			<db:in-param name="startDate" value="#[payload.startDate]" />
			<db:in-param name="endDate" value="#[payload.endDate]" />
			<db:in-param name="numberOfHours" value="#[payload.numberOfHours]" />
			<db:in-param name="hourlyRate" value="#[payload.hourlyRate]" />
			<db:in-param name="grossAmount" value="#[payload.grossAmount]" />
			<db:in-param name="netPay" value="#[payload.netPay]" />
			<db:in-param name="reimbursement" value="#[payload.reimbursement]" />
        </db:insert>
    </sub-flow>
    
    <flow name="mule-salary-management-exportFlow">
<!--         <poll doc:name="Poll"> -->
<!--             <fixed-frequency-scheduler frequency="10" timeUnit="SECONDS"/> -->
<!--             <logger message="Starting..." level="INFO" doc:name="Logger"/> -->
<!--         </poll> -->
        
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT paycheck_id, start_date, end_date, number_of_hours, gross_amout, net_pay, reimbursement FROM paycheck]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
				%output application/json
				---
				payload map ((paycheck, index) -> {
					(paycheck)
				})
				]]>
			</dw:set-payload>
        </dw:transform-message>
        
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
</mule>
