d2l2c-mule-paychecks/src/main/app/api-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="paychechs-flow">
        <flow-ref name="mule-paychecks-check-user-flow" doc:name="mule-paychecks-check-user-flow"/>
        
        <db:select config-ref="Paychecks_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[
            	SELECT 
            	pay.paycheck_id, 
            	pay.year, 
            	pay.month, 
            	pay.start_date, 
            	pay.end_date, 
            	pay.number_of_hours, 
            	pay.gross_amount, 
            	pay.net_pay, 
            	pay.reimbursement, 
            	pay.hourly_rate, 
            	comp.code AS company_code, 
            	conf.expected_number_of_hours, 
            	conf.net_percentage_of_gross
            	FROM paychecks AS pay
            	JOIN users AS user ON pay.user_id = user.user_id
            	JOIN companies AS comp ON pay.company_id = comp.company_id
            	JOIN paycheck_configs AS conf ON pay.config_id = pay.config_id
            	WHERE user.user_id = :userId
            	]]>
            </db:parameterized-query>
            <db:in-param name="userId" value="#[flowVars.userId]" />
        </db:select>
        
        <custom-transformer class="com.d2l2c.mule.paychecks.transformer.JavaToJsonTransformer" doc:name="Java"/>
        
<!--         <choice doc:name="Choice"> -->
<!--         	<when expression="#[payload.size() != 0]"> -->
<!-- 		       	<dw:transform-message doc:name="Transform Message"> -->
<!-- 		            <dw:input-payload mimeType="application/java" /> -->
<!-- 		            <dw:set-payload resource="dw_mappings/paychecks_export_summarized.dwl" /> -->
<!-- 		        </dw:transform-message> -->
<!--         	</when> -->
<!--         	<otherwise> -->
<!--         		<dw:transform-message doc:name="Transform Message"> -->
<!-- 		            <dw:input-payload mimeType="application/java" /> -->
<!-- 		            <dw:set-payload resource="dw_mappings/no_records.dwl" /> -->
<!-- 		        </dw:transform-message> -->
<!--         	</otherwise> -->
<!--         </choice> -->
    </flow>
    
    <flow name="paychechs-year-flow">
        <flow-ref name="mule-paychecks-check-user-flow" doc:name="mule-paychecks-check-user-flow"/>
        
        <db:select config-ref="Paychecks_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[
            	SELECT 
            	pay.paycheck_id, 
            	pay.year, 
            	pay.month, 
            	pay.start_date, 
            	pay.end_date, 
            	pay.number_of_hours, 
            	pay.gross_amount, 
            	pay.net_pay, 
            	pay.reimbursement, 
            	pay.hourly_rate, 
            	comp.code AS company_code, 
            	conf.expected_number_of_hours, 
            	conf.net_percentage_of_gross
            	FROM paychecks AS pay
            	JOIN users AS user ON pay.user_id = user.user_id
            	JOIN companies AS comp ON pay.company_id = comp.company_id
            	JOIN paycheck_configs AS conf ON pay.config_id = pay.config_id
            	WHERE user.user_id = :userId
            	AND pay.year = :year
            	]]>
            </db:parameterized-query>
            <db:in-param name="userId" value="#[flowVars.userId]" />
            <db:in-param name="year" value="#[flowVars.year]" />
        </db:select>
        
        <custom-transformer class="com.d2l2c.mule.paychecks.transformer.JavaToJsonTransformer" doc:name="Java"/>
        
<!--         <flow-ref name="paychechs-transform-flow" doc:name="paychechs-transform-flow"/> -->
    </flow>
    
    <flow name="paychechs-year-month-flow">
        <flow-ref name="mule-paychecks-check-user-flow" doc:name="mule-paychecks-check-user-flow"/>
        
        <db:select config-ref="Paychecks_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[
            	SELECT 
            	pay.paycheck_id, 
            	pay.year, 
            	pay.month, 
            	pay.start_date, 
            	pay.end_date, 
            	pay.number_of_hours, 
            	pay.gross_amount, 
            	pay.net_pay, 
            	pay.reimbursement, 
            	pay.hourly_rate, 
            	comp.code AS company_code, 
            	conf.expected_number_of_hours, 
            	conf.net_percentage_of_gross
            	FROM paychecks AS pay
            	JOIN users AS user ON pay.user_id = user.user_id
            	JOIN companies AS comp ON pay.company_id = comp.company_id
            	JOIN paycheck_configs AS conf ON pay.config_id = pay.config_id
            	WHERE user.user_id = :userId
            	AND pay.year = :year 
            	AND pay.month = :month
            	]]>
            </db:parameterized-query>
            <db:in-param name="userId" value="#[flowVars.userId]" />
            <db:in-param name="year" value="#[flowVars.year]" />
            <db:in-param name="month" value="#[flowVars.month]" />
        </db:select>
        
        <flow-ref name="paychechs-transform-flow" doc:name="paychechs-transform-flow"/>
    </flow>
    
    <sub-flow name="paychechs-transform-flow">
       	<choice doc:name="Choice">
        	<when expression="#[payload.size() != 0]">
		       	<dw:transform-message doc:name="Transform Message">
		            <dw:input-payload mimeType="application/java" />
		            <dw:set-payload resource="dw_mappings/paychecks_export.dwl" />
		        </dw:transform-message>
        	</when>
        	<otherwise>
        		<dw:transform-message doc:name="Transform Message">
		            <dw:input-payload mimeType="application/java" />
		            <dw:set-payload resource="dw_mappings/no_records.dwl" />
		        </dw:transform-message>
        	</otherwise>
        </choice>
    </sub-flow>

</mule>
